.challenges-index {
  height: 100%;
  margin-bottom: 20%;
}

h2, p {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

.card-challenge {
  box-shadow: 1px 1px #b9c7cc;
}

.last-challenges-list {
  margin-bottom: 80px;
}

