.challenge-new {
  box-shadow: 2px 2px 7px 4px #ccc7c7;
  padding: 10px;
  margin-top: 100px;
  border-radius: 5px;
  background-color: white;
}

.challenge-new h3 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 56px;
  margin-top: 25px;
  align-items: text-center;
}

.challenge-new label {
  font-family: 'Libre Baskerville', serif;
}

.challenge-new .test {
  margin-bottom: 24px;
  margin-top: 10px;
  font-weight: normal;
}

