.challenge-new {
  box-shadow: 2px 2px 7px 4px #ccc7c7;
  padding: 10px;
  margin-top: 7vh;
  border-radius: 5px;
  background-color: white;
}

.challenge-new h3 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 34px;
  margin-top: 25px;
  align-items: text-center;
}

.challenge-new label {
  font-family: 'Libre Baskerville', serif;
  margin-left: 8px;
}

.challenge-new .submit {
  margin-bottom: 24px;
  margin-top: 10px;
  font-weight: normal;
}

.new-challenge-form {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -59px;
}

.container-without-height {
      height: 100% !important;
}
