// ========= CHALLENGE SHOW (DETAILS) ===========

.challenge-details {
  background: white;
  text-align: center;
}

.challenge-details > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

#challenge-organizer {
  position: relative;
}

.challenge-details-user {
  position: absolute;
  width: 100px;
  top: -50px;
  left: calc(50% - 50px);
}

.challenge-details h2 {
  font-weight: bold;
}

.challenge-details-participations h1,h5 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

.challenge-details p {
  font-size: 16px;
  opacity: .7;
}

.texts-infos {
  flex-direction: column;
  margin-bottom: 85px;
  height: 100vh;
}

.photo-challenge-after {
  margin-bottom: 20px;
}

// ============== SHARE BUTTON ===========

#share-buttons { margin-top: 20px; }

#share-buttons img { width: 35px; padding: 5px; border: 0; box-shadow: 0; display: inline; }
