// ========= CHALLENGE SHOW (DETAILS) ===========

.challenge-details {
  overflow: hidden;
  background: white;
  height: 100vh;
  text-align: center;
}

.challenge-details > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

#challenge-organizer {
  position: absolute;
}

.challenge-details-user {
  position: absolute;
  width: 100px;
  top: -50px;
}

.challenge-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.challenge-details p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.challenge-details .challenge-details-infos {
  padding: 16px;
  position: relative;
}

.challenge-details-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
