<div class="banner">
  <div class="container">
    <h1>Trashtag</h1>
    <div class="text-center banner-content">
      <h2>It's time to save the earth, more than ever</h2>
      <button type="button" class="btn btn-primary">Create your challenge</button>
    </div>
  </div>
</div>

