<div class="banner">
  <!-- <img src="<%= asset_url("logo.png") %>" alt="" class="logo" > -->
  <h1 class="text">TrashTag</h1>

  <div class="row">
    <div class="col-lg-6 text-center">
      <h2 class="text-center">It's time to save the earth, more than ever</h2>
      <button type="button" class="btn btn-primary">Create a Challenge</button>
    </div>
  </div>
</div>

