<div class="container">

  <h1 class="text-center">List of challenges</h1>

  <ul>
    <% @challenges.each do |challenge| %>
       <div class="card">
        <li><%= link_to challenge.title, challenge_path(challenge) %></li>
        <%= cl_image_tag challenge.photo, height: 100, width: 100, crop: :fill %>
        <div class="container">
          <h4><b>Title</b></h4>
          <button type="button" class="btn btn-primary">More details</button> <!-- alignez a droite -->
        </div>
      </div>
    <% end %>
  </ul>
</div>



