<h1 class="text-center">List of challenges</h1>

<div
id="map"
style="width: 100%;
height: 35vh;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<div class="container">

  <ul>
    <% @challenges.each do |challenge| %>
      <li><%= link_to challenge.title, challenge_path(challenge) %></li>
    <% end %>
  </ul>

</div>
