.btn-primary {
    color: #fff;
    background-color: #1cc18b;
    border-color: #1cc18b;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 11px;
}


.btn-home {
    color: #fff;
    background-color: #1cc18b;
    border-color: #1cc18b;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 11px;
    padding: 11px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-home:active {
    color: #fff;
    background-color: #5c7faa;
    padding: 14px;
    padding-left: 44px;
    padding-right: 44px;
    opacity: 0.8;

    }
