// .btn-primary {
//     color: #fff;
//     background-color: #1cc18b;
//     border-color: #1cc18b;
//     border-radius: 8px;
//     font-weight: bold;
//     margin-top: 11px;
// }

.btn-cta {
  font-weight: bold;
  margin-top: 11px;
  padding-left: 40px;
  padding-right: 40px;
}

