.btn-primary {
    color: #fff;
    background-color: #1cc18b;
    border-color: #1cc18b;
    border-radius: 8px;
    font-weight: bold;
}

.btn-primary:hover{
   transition: 2s;
   background-color: #1ae09f;
   border-color: #1ae09f;
}
