// ========= CARD CHALLENGE RESUME ===========

.card-challenge {
  overflow: hidden;
  height: 150px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px
}

.card-challenge img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-challenge a {
  text-align: center;
  display: block;
  width: 100%;
}

.card-challenge h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  margin: 0;
}

.card-challenge p {
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}


.cards-challenges-list {
  margin-top: 10px;
}

.cards-margin-4 {
  margin-left: 4%;
  margin-right: 4%;
}

.card-challenge-infos-16{
  width: 100%;
  padding: 16px;
}
