.card-challenge {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px
}

.card-challenge img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-challenge h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-challenge p {
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card-challenge .card-challenge-infos {
  padding: 16px;
}

.cards-challenges-list {
  margin-top: 10px;
  margin-right: 4%;
  margin-left: 4%;
}
