// ========= CARD CHALLENGE RESUME ===========

.card-challenge {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px
}

.card-challenge img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-challenge h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-challenge p {
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card-challenge .card-challenge-infos {
  padding: 16px;
}

.cards-challenges-list {
  margin-top: 10px;
  margin-right: 4%;
  margin-left: 4%;
}

// ========= CARD CHALLENGE SHOW (DETAILS) ===========

.card-challenge-details {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-challenge-details > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-challenge-details h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-challenge-details p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-challenge-details .card-challenge-details-infos {
  padding: 16px;
  position: relative;
}

.card-challenge-details-infos .card-challenge-details-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-challenge-details-infos h2 p {
  margin-top: 20px;
}

