.gauge-container {
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
}

.bg-gauge {
  height: 20px;
  width: 80%;
  background: #9c9c9c;
  margin: auto;
  border-radius: 5px;
  position: relative;
}

.gauge {
  height: 20px;
  background: $primary;
  position: absolute;
  bottom: 0px;
  border-radius: 5px;
}

.turtle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -10px;
  background-image: url('https://freepngimg.com/thumb/cute/29802-7-cute-turtle-transparent.png');
  background-size: cover;
}

// TODO: Define colors and chose a better turtle
