.carousel-control-prev-icon {
  height: 20px;
  border-radius: 50%;
  width: 20px;
  background-color: #2F7D99;
}

.carousel-control-next-icon {
  height: 20px;
  border-radius: 50%;
  width: 20px;
  background-color: #2F7D99;
}
