.carousel-control-prev-icon {
  height: 30px;
  border-radius: 50%;
  width: 20px;
  background-color: grey;
}

.carousel-control-next-icon {
  height: 30px;
  border-radius: 50%;
  width: 20px;
  background-color: grey;
}
