.card-users-top {
  display: flex;
  justify-content: center;
  background-image: url('https://ak4.picdn.net/shutterstock/videos/5304824/thumb/1.jpg');
  background-position: center;
}

.card-user img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.card-user {
  overflow: hidden;
  background-color: seashell;
  border-radius: 5px;
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-user h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  margin: 0;
}

.card-user p {
text-align: center;
font-size: 16px;
line-height: 1.4;
opacity: .7;
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 8px;
margin-top: 8px;
}

.card-user-infos h2 {
  margin-left: 10px;
}

.cards-users-list {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 80px;
}

.card-users img {
  height: 80px;
  width: 80px;
  margin-left:5px;
  border-radius: 50%;
  object-fit: cover;
}

.card-users {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}

.user_score {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.items {
  color: gold;
}
